@model KManager.Models.InventoryItemDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InventoryItemDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InventoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoesExpire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoesExpire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sold)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
